 * {
     margin: 0;
     padding: 0;
 }
 html {
     overflow-y: scroll;
 }
 h1 {
     font-family: 'Lobster', Georgia, Times, serif;
     font-size: 56px;
     line-height: 65px;
     color: darkcyan;
 }
 h2 {
     font-family: 'Lobster', Georgia, Times, serif;
     font-size: 30px;
     line-height: 30px;
     color: black;
 }
 body {
     font-family: 'Cabin', Helvetica, Arial, sans-serif;
     font-size: 16px;
     line-height: 26px;
 }
 #background {
     padding: 25% 0;
     background-size: 100% 100%;
     background-repeat: no-repeat;
     opacity: 0.9;
 }
 footer {
     text-align: center;
     background-color: darkorchid;
     color: azure;
 }
 footer a {
     color: aliceblue;
 }
 #main {
     width: 60%;
     margin-right: 4%;
     margin-left: 1%;
     float: left;
     padding top: 1%;
 }
 aside {
     width: 32%;
     float: right;
     padding: 1%;
 }
 aside,
 section {
     display: block;
 }
